<div class="body-wrapper">
  <h2>Welcome to Social Media Tracker!</h2>
  <div class="content-wrapper">
    <div class="header">
      <SocialPostsCounter />
      <StopUploadButton />
    </div>
    <div class="chart-container">
      <BubbleChart />
    </div>
  </div>
</div>